* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px;
    background-color: black;
    color: white;
    font-size: 30px;
}

body header p {
    font-weight: 100;
    margin: 15px;
    font-size: 30px;
    font-family: sans-serif;
}

body header p a {
    text-decoration: none;
    color: whitesmoke;
}

body header p a:hover {
    text-decoration: underline;
    color: rgb(201, 201, 201);
}

.semfundo p {
    font-weight: bolder;
    margin: 20px;
    line-height: 80px;
    font-size: 40px;
    font-family: sans-serif;
}

.semfundo{
    max-width: 600px;
    margin: 150px;
    margin-left: 10px;
}

.background {
    height: 86vh;
    font-size: 5vh;
    font-weight: bolder;

}

#background1 {
    background-image: url(imagens/background001.jpg);
    background-attachment: fixed;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
    background-size: cover;
    background-repeat: repeat;
}

#background2 {
    background-image: url(imagens/background002.jpg);
    background-attachment: fixed;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
    background-repeat: no-repeat;
    background-size: cover;
}

.background > .pdefundo {
    background-color: rgba(0, 0, 0, 0.253);
}

footer {
    padding: 1vh;
    background-color: black;
    text-align: center;
    color: white;
}

footer a {
    color: whitesmoke;
    text-decoration: none;
}

footer a:hover {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
