* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px;
    background-color: black;
    color: white;
    font-size: 30px;
}

main {
    margin: 40px;
    font-size: 30px;
    font-family: sans-serif;
}

p {
    font-weight: bolder;
    margin: 20px;
    line-height: 50px;
}

.semfundo{
    width: 400px;
    row-gap: 300px;
}

.background {
    background-image: ;
}

