body {
    background-color: beige;
}

table {
   width: 400px;
   border-collapse: collapse;
}

td {
    border: 2px solid black;
    padding: 5px;
}

tr.linha {
    background-color: rgba(137, 43, 226, 0.295);
}

td.marcado {
    background-color: rgb(225, 228, 49);
}